<!-- <p id="notice"><%= notice %></p> -->
<div class="rabun-table-div">
<div class="row">
    <%= link_to '<-Back to Renters', renters_path, class: "btn btn-link" %>
</div>
<div class="row justify-content-center">
    <h1 class="renter-big-name"><%= "#{@renter.first_name} #{@renter.last_name}"%></h1>
</div>  
<div class="row">
  <div class="col-md-3 renter-column">
      <h4><span style="text-decoration:underline;">Renter Profile:</span></h4>
      <hr>
      <h5>Name/Identity</h5>
      <p>
          <strong>First name:</strong><br>
          <%= @renter.first_name %>
        </p>
        
        <p>
          <strong>Last name:</strong><br>
          <%= @renter.last_name %>
        </p>
        
        <p>
          <strong>Aka:</strong><br>
          <%= @renter.aka %>
        </p>
        
        <h5>Contact Info</h5>
        <p>
          <strong>Email:</strong><br>
          <%= @renter.email %>
        </p>

        <p>
          <strong>Phone number:</strong><br>
          <%= @renter.phone_number %>
        </p>
          
        <p>
          <strong>Mobile phone:</strong><br>
          <%= @renter.mobile_phone %>
        </p>
        
        <h5>Physical Address</h5>
        <p>
          <strong>Street address:</strong><br>
          <%= @renter.street_address %>
        </p>
        
        <p>
          <strong>City:</strong><br>
          <%= @renter.city %>
        </p>
        
        <p>
          <strong>State:</strong><br>
          <%= @renter.state %>
        </p>
        
        <p>
          <strong>Zip:</strong><br>
          <%= @renter.zip %>
        </p>
        
        <h5>Social/Online</h5>
        
        <p>
          <strong>Vrbo url:</strong><br>
          <%= @renter.vrbo_url %>
        </p>
        
        <p>
          <strong>Airbnb url:</strong><br>
          <%= @renter.airbnb_url %>
        </p>
        
        <p>
          <strong>Facebook url:</strong><br>
          <%= @renter.facebook_url %>
        </p>
        
        <p>
          <strong>Linkedin url:</strong><br>
          <%= @renter.linkedin_url %>
        </p>
        <h5>Other</h5>
        <p>
          <strong>Misc:</strong>
          <%= @renter.misc %>
        </p>
        <% if Renter.find(params[:id]).user_id == current_user.id %>
          <%= link_to 'Edit Renter', edit_renter_path(@renter), class: "btn btn-warning", id: "renter-panel-edit-btn" %>
          <%= link_to 'Delete Renter', @renter, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", id: "renter-panel-delete-btn" %>
        <% end %>

        
  </div>
  <div class="col-md-9 reviews-column">
      <div class="row justify-content-center">
      <h4><span style="text-decoration:underline">Reviews on this renter:</span></h4>
      </div>
      <hr>
      <%= link_to  "+ Add a New Review", new_renter_review_path(@renter), class: "btn btn-primary"%>
      <% if @reviews.blank? %>
        <h3>No reviews yet.</h3>
      <% else %>
        <% @reviews.order('created_at DESC').each do |review| %>
          <div class="review-bubble">
            <h6><%= "Reviewed by #{review.user.first_name.capitalize} #{review.user.last_name.capitalize} on #{review.created_at.strftime("%-m/%-d/%y")}:" %></h6>
            <p><%= "Overall Rating: #{review.rating_overall}" %></p>
            <p><%= review.comment %></p>
            <!-- <p><em><%= "by #{review.user.first_name.capitalize} #{review.user.last_name.capitalize}." %></em></p> -->
            <!-- <p><%= "Created on #{review.created_at.strftime("%-m/%-d/%y")}" %></p> -->
            <% if review.user_id == current_user.id %>
              <%= link_to 'Edit Review', edit_renter_review_path(@renter, review), class: "btn btn-warning" %>
              <%= link_to 'Delete Review', renter_review_path(@renter, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>





<%#= link_to 'Edit', edit_renter_path(@renter), class: "btn btn-link" %>

</div>